<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>81628991096-n9ot21apc68t42tb0c2noft42qkaao68.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.81628991096-n9ot21apc68t42tb0c2noft42qkaao68</string>
	<key>API_KEY</key>
	<string>AIzaSyB8geIZ1-xwnO9Fg6GhUq-AfIpOfoCFBWk</string>
	<key>GCM_SENDER_ID</key>
	<string>81628991096</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.groceryApp</string>
	<key>PROJECT_ID</key>
	<string>grocery-app-training</string>
	<key>STORAGE_BUCKET</key>
	<string>grocery-app-training.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:81628991096:ios:9935ef7c7c3fda994fa78d</string>
</dict>
</plist>